target/
!.mvn/wrapper/maven-wrapper.jar
.idea/

### IntelliJ IDEA ###
*.log
*.iws
*.iml
*.ipr
*.html
*.js
*.css
*.woff
*.woff2
*.eot
*.png
*.otf
*.svg
*.ttf
*.webm

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### VS Code ###
.vscode/

### Mac OS ###
.DS_Store