target/
!.mvn/wrapper/maven-wrapper.jar
.idea/

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### VS Code ###
.vscode/

### Mac OS ###
.DS_Store